Xcursor.theme: Pop
Xcursor.size: 22
Xft.hinting: 1
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.antialias: 1
Xft.rgba: rgb 

! === st ===

! st.font: BlexMono Nerd Font:style:Regular:size=9
! st.font: JetBrainsMono Nerd Font:style:SemiBold:size=8
! st.font: CaskaydiaCove Nerd Font:style:Regular:size=9

! st window padding
st.borderpx: 20
st.alpha: 0.9

! === catppuccin colors ===
! st.background: #1E1E2E
! st.foreground: #CDD6F4

! st.color0: #45475A
! st.color8: #585B70

! st.color1: #F38BA8
! st.color9: #F38BA8

! st.color2: #A6E3A1
! st.color10: #A6E3A1

! st.color3:#F9E2AF
! st.color11: #F9E2AF

! st.color4: #89B4FA
! st.color12: #89B4FA

! st.color5: #F5C2E7
! st.color13: #F5C2E7

! st.color6: #94E2D5
! st.color14: #94E2D5

! st.color7: #BAC2DE
! st.color15: #A6ADC8

! === st, dmenu, xmenu and dwm pywal colors ===
#include "/home/stoney/.cache/wal/colors.Xresources"
*.font: IosevkaTerm Nerd Font:style:Regular:size=10
