Xcursor.theme: Breeze_Obsidian
Xcursor.size: 24
Xft.hinting: 1
Xft.autohint: 1
Xft.hintstyle: hintslight
sft.antialias: 1
Xft.rgba: rgb 
Xft.dpi: 120

! === st ===
st.font: ComicShannsMono Nerd Font:pixelsize=20:antialias=true:autohint=true
st.borderpx: 10
st.cursorstyle: 0
st.blinktimeout: 800
st.bellvolume: 0
st.cwscale: 1.0
st.chscale: 1.0
st.termname: st-256color
st.alpha: 0.90

! === catppuccin colors ===
! st.background: #1E1E2E
! st.foreground: #CDD6F4

! st.color0: #45475A
! st.color8: #585B70

! st.color1: #F38BA8
! st.color9: #F38BA8

! st.color2: #A6E3A1
! st.color10: #A6E3A1

! st.color3: #F9E2AF
! st.color11: #F9E2AF

! st.color4: #89B4FA
! st.color12: #89B4FA

! st.color5: #F5C2E7
! st.color13: #F5C2E7

! st.color6: #94E2D5
! st.color14: #94E2D5

! st.color7: #BAC2DE
! st.color15: #A6ADC8

! === Citruszest ===
st.background: #121212
st.foreground: #BFBFBF

st.color0: #121212
st.color8: #808080

st.color1: #FF5454
st.color9: #FF1A75

st.color2: #00CC7A
st.color10: #1AFFA3

st.color3: #FFD400
st.color11: #FFFF00

st.color4: #FF7B00
st.color12: #FF9633

st.color5: #00C2FF
st.color13: #33CFFF

st.color6: #00E0D4
st.color14: #00FFF2

st.color7: #BFBFBF
st.color15: #F9F9F9

! === st, dmenu, xmenu and dwm pywal colors ===
#include "/home/stoney/.cache/wal/colors.Xresources"
*.font: Terminus:pixelsize=18:antialias=true:autohint=true

! My fav fonts
! IntelOne Mono
! JetBrainsMono Nerd Font
! Liga SFMono Nerd Font
! Terminus
! ComicShannsMono Nerd Font
