configuration {
    font: "JoyPixels 12, JetBrainsMono Nerd Font Mono: 14 ";
    modes: "drun,window";
    combi-modes: [window,drun];
    show-icons: true;
    icon-theme: "Numix";
    display-drun: "Apps";
    /* drun-display-format: "{name}"; */
    disable-history: false;
    sidebar-mode: true;
}

@import "~/.cache/wal/colors-rofi-dark.rasi"
