@import "themes/colors.css";

* {
  font-family:
    Maple Mono,
    Monaspace Krypton Var;
  font-size: 18px;
  border-radius: 0px;
}

window#waybar {
  background: @surface-alpha;
  border: none;
}

#workspaces button {
  color: @secondary;
  padding: 0 0.3rem;
}

#workspaces button.visible {
  color: @background;
  background: @primary;
}

button:hover {
  background: inherit;
}

#workspaces button.urgent {
  color: @background;
  background-color: alpha(@error, 0.9);
}

tooltip {
  background: alpha(@background, 0.9);
  border: 1px solid @inverse_primary;

  border: 1px solid @secondary;
}

tooltip label {
  color: @foreground;
  font-size: 14px;
}

#clock,
#battery,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#backlight,
#window,
#mpris,
#cpu,
#submap {
  color: @primary;
  padding: 0 0.3rem;
}

@keyframes blink {
  to {
    background-color: @background;
    color: @foreground;
  }
}

#battery.critical:not(.charging) {
  background-color: @error;
  color: @primary;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.muted {
  color: @error-dim;
}

#network.disconnected {
  color: @error-dim;
}
